h2 {
   margin-left: 10px;
    background: url("../img/icon.png") no-repeat left top;
    background-size: contain;/*여백 크기에 맞추기*/
    padding-left : 50px; /*글자와 그림 사이 간격주기*/
    padding-top : 10px; /*글자와 그림 사이 간격주기*/
    padding-bottom : 10px; /*글자와 그림 사이 간격주기*/

}